

<div class="container-fluid">

<div class="add-leave m-4">
   <div class="leave-title d-flex">
    <div class="header-text text-center">
       Add Leave
    </div>
    <div class="cross-icon ml-auto" (click)="dismissModal()">
        <button type="button" class="close text-danger" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
   </div>

   <div class="leave-form">
    <div class="col-12" [formGroup]="addLeaveForm">
        <div class="row mb-3">
    
            <div class="col-4">
                <div>Employee Name</div>
                <select
                class='custom-select mb-3'
                formControlName='name'>
                <option value="">Choose Name</option>
                <option *ngFor="let name of names" [value]="name.id">{{name.name}} </option>
            </select>
            <!-- <ng-select class=" " [items]="leaveTypes" [selectOnTab]="true" 
            placeholder="Select Deparment" formControlName="department">
        </ng-select> -->
            </div>
          
            <div class="col-4">
                <div>Leave Type</div>
                <select
                class='custom-select mb-3'
                    formControlName='leaveType'>
                    <option value="">Choose Leave Type</option>
                    <option *ngFor="let leave of leaveTypes" [value]="leave">{{leave}} </option>
                </select>
            </div>
        </div>
      
        <div class="row mb-3">
            <div class="col-4">
                <label class="mb-0" for="address">
                    Date From
                </label>
                <input type="date" class="form-control" formControlName='datefrom'>
            </div>
            <div class="col-4">
                <label class="mb-0" for="address">
                    Date To
                </label>
                <input type="date" class="form-control" formControlName='dateto'>
            </div>
            <div class="col-4">
                <div>Comments</div>
                <textarea formControlName='comments'>
    
                </textarea>
            </div>
        </div>
        <div class="row">
            <!-- <button type="button" class="btn ml-3 col-2 btn-success" 
                ><i class="bi bi-arrow-right-square mr-3"></i>Next</button> -->
            <button type="button" class="btn ml-3 col-2 btn-success" 
                ><i class="bi bi-check-square mr-3"></i>Confirm</button>
        </div>
    
 
    
    </div>
   </div>
</div>

</div>

