




.pag-page-size{
    position: relative;
    bottom: 33px;
    left: 10px;
}


.action-container{
    justify-content: space-between;
}


.action-items{
    align-items: center;
}
.action-menu{
    align-items: center;
}

.page-select{
    border: 1px solid #3c3cc8;
    border-radius: 5px;
}


.bs-stepper-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}


.bs-stepper .line, .bs-stepper-line {
    -ms-flex: 1 0 32px;
    flex: 1 0 32px;
    min-width: 1px;
    min-height: 1px;
    margin: auto;
    background-color: rgba(0,0,0,.12);
}



element.style {
}
.bs-stepper .step-trigger:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.bs-stepper .step-trigger {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #6c757d;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: none;
    border-radius: 0.25rem;
    transition: background-color .15s ease-out,color .15s ease-out;
}


.bs-stepper-circle {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    padding: 0.5em 0;
    margin: 0.25rem;
    line-height: 1em;
    color: #fff;
    background-color: #6c757d;
    border-radius: 1em;
}


.bs-stepper-label {
    display: inline-block;
    margin: 0.25rem;
}

.sucess-container{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
    height: 220px;
}


.success-header{

    font-size: 25px;
    font-weight: bold;
}
