<div class="header text">Using hidden columns to customize export files in ag-Grid</div>
<p class="text">This table includes column for the currency that is visible only in the Excel export file.</p>

<div class="export-button-container">
    <button (click)="exportAsExcel()">
        Export as Excel
    </button>
</div>

<button (click)="createfile()">
    cretefile
</button>

<div class="col">
    <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            Action
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Edit File</button>
            <button ngbDropdownItem>Send File</button>
            <button ngbDropdownItem>Delete File</button>
            <button ngbDropdownItem>Close File</button>
        </div>
    </div>
</div>

<ag-grid-angular id='file-info' [gridOptions]="gridOptions" style="width: 100%; height: 700px" class="ag-theme-alpine"
    [sideBar]='sideBar' [defaultColDef]="defaultColDef" [autoGroupColumnDef]="autoGroupColumnDef" [rowData]="rowData"
    [columnDefs]="columnDefs" [modules]="modules" [components]="components" (gridReady)="onGridReady($event)">
</ag-grid-angular>

<div class="pag-page-size">
    Page Size:
    <select (change)="onPageSizeChanged()" id="page-size" [(ngModel)]="pageSize">
        <option value="10" selected="">10</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="100">100</option>
    </select>
</div>