
.text-font{
    font-family: 'Nunito';
    font-size: 20px;
}

.textarea-height{
    height: 200px;
}

.result-container{
    height: 200px;
    width: 100%;
    background-color: #a1f886;
    padding: 10px;
    margin-top: 5px;
    border-radius: 2%;

}

.typedResults{
    height: 200px;
    border: 1px solid rgb(44, 42, 42);
    overflow-y: scroll;
}

.space-left{
    margin-left: 6px;
}
.yell{
    background-color: yellow;
}

.transcriptcheckbox{
    // width: 10px;
    // height: 5px;
}




