/* Define styles for error and missing rows */
.error {
    background-color: red;
    color: white;
  }
  
  .miss {
    background-color: yellow;
  }
  .success {
    background-color: rgb(126, 199, 16);
  }
  

  .table-container{
      width: 100%;
  }