
.header-text{
    font-size: 20px;
    font-weight: bold;
}
.container{
    
}
.cross-icon{
    font-weight: bolder;
}

.bookno{
clear: both;
}


.dak-details-body{
    background-color: #eae2e2;
    padding: 25px;
    border-radius: 10px;
    height:200px;
    overflow: scroll;
     
}

.comments{
    background-color: #a5e6be;
    padding: 25px;
    border-radius: 10px;
    height:200px;
    overflow: scroll;
}

.comment{
    background-color: #53b5ee;
    padding: 5px;
    margin-left: 20px;
    border-radius: 10px;
    height:70px;
    border-bottom: indianred;
    border-style: dashed;
}
