<!-- <button type="button" (click)="onClick($event)">{{label}}</button> -->

<!-- {{data?.file_status}} -->
 <!-- <button class="btn btn-danger mr-2" (click)="onClick('Store')">
        <i class="bi bi-trash3"></i>
        Store
    </button> -->
<div class="button-container d-flex " *ngIf="true">
    <button class="btn btn-success mr-3" (click)="onClick('Modify')" 
     >
        <i class="bi bi-pencil"></i>
        <!-- Modify -->
    </button>
    <button class="btn btn-primary mr-3" (click)="onClick('View')" 
     >
        <i class="bi bi-eye"></i>
        <!-- Send -->
    </button>
    <button class="btn btn-danger mr-3" (click)="onClick('Delete')"
     >
    <i class="bi bi-trash3"></i>
        <!-- Delete -->
    </button>
   
    <!-- <button class="btn btn-info mr-2" (click)="onClick('View')">
        <i class="bi bi-card-text"></i>
        View
    </button> -->
</div>
<!-- <div class="button-container d-flex " *ngIf="label== fileSection.RECEIVE">
    <button class="btn btn-primary mr-2" (click)="onClick('Send')" 
    *ngIf="data?.file_status == fileStatusText.RECEIVED || data?.file_status == fileStatusText.REJECTED"  >
    <i class="bi bi-send"></i>
        Send
    </button>
    <button class="btn btn-info mr-2" (click)="onClick('View')">
        <i class="bi bi-card-text"></i>
        View
    </button>
</div> -->