<div class="container-fluid p-5">
    SEND FILE


    <div [formGroup]="sendForm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FTS ID</th>
                    <th scope="col">File Title</th>
                    <th scope="col">Send To</th>
                    <th scope="col">Comments/Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr formArrayName="fileInfo" *ngFor="let item of formData?.controls; let i = index;">
                    <ng-container [formGroupName]="i">
                        <th scope="row">{{i+1}}</th>
                        <td><input formControlName="fts_id" readonly class="read-only-field"></td>
                        <td><input formControlName="file_title" readonly class="read-only-field"></td>
                        <td>
                            <!-- <select class="custom-select " formControlName='sent_to'>
                                <option value="">Choose Deparment</option>
                                <option *ngFor="let names of departments" [value]="names">{{names}} </option>
                            </select> -->

                            <ng-select class=" " [items]="departments" [selectOnTab]="true"
                                placeholder="Select Deparment" formControlName="sent_to">
                            </ng-select>
                        </td>
                        <td> <input formControlName="comments" type="text" class="form-control"
                                placeholder="Enter Comments" class='formcontrol'></td>
                    </ng-container>
                </tr>
            </tbody>
        </table>

    </div>


    <div class="row mt-2">
        <button type="button" class="btn ml-3 col-2 btn-success" (click)="sendFileDetails()">Submit</button>
        <button type="button" class="btn ml-auto col-2 btn-danger" (click)="dismissModal()">Cancel</button>
    </div>

</div>