.action-container{
    justify-content: space-between;
}


.action-items{
    align-items: center;
}
.action-menu{
    align-items: center;
}

.page-select{
    border: 1px solid #3c3cc8;
    border-radius: 5px;
}

.pag-page-size{
    position: relative;
    bottom: 33px;
    left: 10px;
    display: inline-block;
}