<div class="form-group">
    <label for="exampleInputEmail1">FTS ID: </label>
    <div class="search-container d-flex">
        <input type="text" class="form-control" placeholder="Enter FTS ID" onkeyup="this.value = this.value.toUpperCase()" [(ngModel)]="ftsID" (keydown.enter)="search()">
        <button class="search btn btn-primary" (click)="search()"><i class="bi bi-search"></i></button>
    </div>
   
    <small id="emailHelp" class="form-text text-muted">Enter FTS Id to track file.</small>
</div>


<div class="spinner-border text-success" role="status" *ngIf="loaderFlag">
    <span class="sr-only">Loading...</span>
  </div>
<div class="track-container-parent" *ngIf="!loaderFlag && trackingData.length">
    <div class="records-message mb-2">
        Showing records for <strong>{{showingTrackingData}}</strong>
    </div>
    
    <div class="track-container">
        <div *ngFor="let data of trackingData">
            <div class="track-card mb-2">
                <div class="card-header">
                    <div class="card-date">
                        {{data?.updatedon | customdatepipe}}
                    </div>
                    <div class="card-edited-by">
                        {{data?.status | lowercase }} {{data?.status =='Assigned' ? 'to': 'by'}} {{data?.name}} ( {{data?.department}} )
                    </div>
                </div>
                <div class="card-body text-center">

                    <p>File {{data?.status | lowercase }}
                        <span  *ngIf="data?.status =='Created'"> with title :{{data?.filetitle}} </span>
                        <span  *ngIf="data?.status =='Sent'"> to department:{{data?.action_department}} </span>
                        <span  *ngIf="data?.status =='Received'"> by department:{{data?.department}} </span>
                        <span  *ngIf="data?.status =='Assigned'"> to department:{{data?.department}} </span>
                    </p>
                    <p>Comments: {{data?.comments}}</p>
                </div>
            </div>
        </div>
    </div>
</div>