

.grade-item {
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    color: white;
    font-weight: bold;
  }
  
  .marks{
    font-weight: 800;
    font-size: large;
    color: white;
  }
  .grade-excellent {
    background-color: #0f5011; 
   
    /* Green for A+ and A */
  }
  .grade-excellent-low {
    background-color: #6dec71; /* Green for A+ and A */
  }
  
  .grade-good {
    background-color: #083a63; /* Blue for B+ and B */
  }
  
  .grade-good-low {
    background-color: #4ba7f3; /* Blue for B+ and B */
  }
  
  .grade-average {
    background-color: #756b0f; /* Yellow for C+ and C */
    color: black;
  }
  .grade-average-low {
    background-color: #ffeb34; /* Yellow for C+ and C */
    color: black;
  }
  
  .grade-fail {
    background-color: #F44336; /* Red for F */
  }
  

  .chart-button {
    background-color: #4CAF50; /* Green background */
    border: none;              /* No border */
    color: white;              /* White text */
    padding: 15px 32px;        /* Padding around the button */
    text-align: center;        /* Center the text */
    text-decoration: none;     /* Remove underline */
    display: inline-block;     /* Make the button inline */
    font-size: 16px;           /* Button font size */
    margin: 10px 2px;          /* Margin */
    cursor: pointer;           /* Pointer cursor on hover */
    border-radius: 5px;        /* Rounded corners */
    transition: background-color 0.3s ease;
  }

  .chart-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }

  .chart-button i {
    margin-right: 8px; /* Spacing between icon and text */
  }