<div class="signup-container">

    <div class="signup-form">
        <form [formGroup]="signupForm">
            <h2>Sign Up</h2>
            <p>Please fill in this form to create an account!</p>
            <hr>
            <div class="form-group">
                <input type="text" class="form-control p-2" name="Full Name" placeholder="Enter Full Name"
                     formControlName="name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control p-2" name="email" placeholder="Email" 
                    formControlName="username">
            </div>
            <!-- <div class="form-group">
                <input type="password" class="form-control p-2" name="password" placeholder="Password"
                     formControlName="password">
            </div> -->
            <div class="form-group">
                <!-- <label>Password</label> -->
                <div class="input-group ">
                  <!-- Change input type to be able to accept dynamic data -->
                  <input
                    [type]="fieldTextType ? 'text' : 'password'"
                    class="form-control p-2"
                    placeholder="Password"
                    formControlName="password"
                  />
                  <div class="input-group-append ">
                    <span class="input-group-text input-eye-width">
                      <i
                        class="fa mx-auto "
                        [ngClass]="{
                          'fa-eye-slash': !fieldTextType,
                          'fa-eye': fieldTextType
                        }"
                        (click)="toggleFieldTextType()"
                      ></i>
                    </span>
                  </div>
                </div>
              </div>
            <div class="form-group">
                <ng-select class=" " [items]="departments" [selectOnTab]="true" 
                    placeholder="Select Deparment" formControlName="department">
                </ng-select>
                <!-- <input type="password" class="form-control p-2" name="confirm_password" placeholder="Confirm Password" required="required" > -->
            </div>
            <div class="form-group">
                <label class="form-check-label">
                    <input type="checkbox"  formControlName="terms"> I accept the <a
                        href="javascript:void(0)">Terms of Use</a> &amp; <a href="javascript:void(0)">Privacy
                        Policy</a></label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg" (click)="signup()">Sign Up</button>
            </div>
        </form>
        <div class="hint-text">Already have an account? <a routerLink="/login">Login here</a></div>
    </div>

</div>