<div class="container-fluid full-structure">
    <div class="row">
        <div class="col-12 obey mt-5">
            <div class="box-form">
                <div class="left">
                    <div class="overlay">
                    <div class="app-text">Dastaavez</div>
                    <p>An Application to manage Dak Tracking System</p>
                    <span>
                        <p>login with social media</p>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
                    </span>
                    </div>
                </div>
                
                
                    <div class="right mt-auto" [formGroup]="loginForm">
                    <h5>Login</h5>
                    <!-- <p>Don't have an account? <a href="#">Creat Your Account</a> it takes less than a minute</p> -->
                    <div class="inputs">
                        <input type="text" placeholder="Email" formControlName="username" >
                        <br>
                        <div class="password-field d-flex justify-content-between">
                            <div class="password-input">
                                <input [type]="fieldTextType ? 'text' : 'password'"  placeholder="Password" formControlName="password" (keydown.enter)="login()">
                            </div>
                            <div class="input-group-append ">
                                <span class="input-group-text input-eye-width">
                                  <i
                                    class="fa"
                                    [ngClass]="{
                                      'fa-eye-slash': !fieldTextType,
                                      'fa-eye': fieldTextType
                                    }"
                                    (click)="toggleFieldTextType()"
                                  ></i>
                                </span>
                              </div>
                        </div>
                        
                    </div>
                        
                        <br><br>
                        
                    <div class="remember-me--forget-password">
                            <!-- Angular -->
                <!-- <label>
                   <input type="checkbox" name="item" checked/> 
                   <span class="text-checkbox">Remember me</span> 
               </label> -->
                        <p>Forgot Password?</p>
                    </div>
                        <br>

                        <span>
                            New User ? <a routerLink="/login/signup">Signup here</a>
                        </span>
                        <div class="login-button">
                            <button class="btn btn-primary" *ngIf="!loaderFlag" (click)="login()">Login </button>
                            <div class="spinner-border text-primary loading-spinner" role="status" *ngIf="loaderFlag">
                                <span class="sr-only">Loading...</span>
                              </div>
                        </div>
                        
                </div>
                
            </div>
        </div>
    </div>
    </div>

  