




  <div class="container-fluid p-5">
    <div class="chart-container">

        <button class="btn btn-primary" (click)="downloadPDF()">
            <span class="icon" aria-hidden="true">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf" viewBox="0 0 16 16">
                <path d="M5.5 0h5a.5.5 0 0 1 .5.5V2h2.5a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-.5.5H1a.5.5 0 0 1-.5-.5V1A.5.5 0 0 1 1 1h4V0z"/>
                <path d="M2 1v10h12V3H8.5a.5.5 0 0 1-.5-.5V1H2z"/>
                <path d="M6.5 4a.5.5 0 0 1 .5.5V7h1V5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V7h1V6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V9h-4V8a.5.5 0 0 1-.5-.5h-1a.5.5 0 0 1-.5.5v1H6V8a.5.5 0 0 1-.5-.5H5a.5.5 0 0 1-.5.5v1H4V4.5a.5.5 0 0 1 .5-.5h1z"/>
              </svg>
            </span>
          Report
          </button>
        <!-- <div class="row">
           
            <button type="button" class="btn ml-auto col-2 btn-danger" 
                (click)="dismissModal()"><i class="bi bi-x-square  mr-3"></i>Cancel</button>
    </div> -->


    <div style="display: block;" *ngIf="barChartData?.length && barChartLabels?.length">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>


      <div style="display: block; width: 80%;" class="mt-3">
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [colors]="pieChartColors"
                [options]="pieChartOptions">
        </canvas>
      </div>
      
       
    </div>
</div>
  